

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#user-profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(218, 12, 12, 0.788);
    max-width: 500px;
    margin: 0 auto;
}



button {
    display: block;
    background-color: #2ca114;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin: 30px auto 0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddc916;
}